:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
a {
  font-weight: 500;

  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button {
  width: 40vw;
  height: fit-content;
  background-color: #da0037;
}

button:hover {
  border: 1vh dotted rgb(238, 178, 170);
}

header {
  background-color: rgba(245, 245, 245, 0.708);
  width: 100vw;
  height: fit-content;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jersey 20", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  .icon {
    color: #da0037;
    font-size: 5rem;
    margin-right: 2vw;
  }
}
.home {
  font-family: "Jersey 20", sans-serif;
  font-size: 1.5rem;
  width: 70vw;
  height: 30vh;
  border-radius: 10vh;
  padding: 4vh 4vw 4vh 4vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1vh dotted #da0037;
  text-align: center;
  margin-top: 20vh;

  .buttonsmain {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .SceneInhome {
    position: absolute;
    top: -10vh;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
.SceneInGame {
  width: 30vw;
  height: 50vh;
  /* overflow: hidden; */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1vh dotted oklab(72.1% 0.029 0.075);
  background-image: url("https://img.freepik.com/premium-vector/cartoon-wood-texture-background-vector_490655-454.jpg");

  /* --angle: 45deg; */
  /* background: linear-gradient(
    var(--angle),
    oklab(72.1% 0.029 0.075),
    oklab(43.5% 0.054 0.063)
  ); */
}
.GameRulles {
  font-family: "Jersey 20", sans-serif;
  color: #1a1a1a;
  width: 100%;
  overflow-y: scroll;
  h1 {
    text-align: center;
    width: 100%;
  }
  .close {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    width: fit-content;
    margin: auto;
    .icon {
      color: #ffffff;
      text-align: end;
      width: 100%;
      margin-right: 20%;
    }
  }
}
.slider {
  width: 30vw;
  height: 2vh;
  background: #ddd;
  border-radius: 5px;
  margin: 20px 0;
}

.slider-thumb {
  width: 6vh;
  height: 6vh;
  background: #da0037;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
  font-size: 2rem;
}

.slider-thumb:hover {
  background: #ff012f;
}
input {
  background-color: rgba(228, 224, 224, 0.612);
  font-family: "Jersey 20", sans-serif;
  color: #1a1a1a;
  width: 40vw;
  height: 5vh;
  border: 1vh dotted #da0037;
  font-size: 1.5rem;
}
input[type="text"]:focus {
  background-color: rgba(192, 188, 188, 0.612);
  border: 1vh dotted #ff0241;
}
.taller {
  height: 70vh;
  width: fit-content;
  button {
    height: 10vh;
    width: 40vw;
    margin-top: 4vh;
  }
  p {
    font-size: small;
    padding-top: 2vh;
  }
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .notification {
    background-color: #da0037;
    color: #ddd;
  }
}
.game {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.smaller {
  margin: 0;
  width: fit-content;
  padding: 2vh 2vw;
  background-color: #da003750;
  border-radius: 3vh;
  h2 {
    color: #da0037;
  }
  h3 {
    color: yellow;
  }
  h4 {
    color: gray;
  }
}

.ButtonInScene {
  position: absolute;
  top: -10vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  Button {
    width: 12vw;
  }
}
.ButtonInScene2 {
  position: absolute;
  bottom: -8vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  Button {
    width: 12vw;
  }
}
.VarsIngams {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 2%;
  width: 100%;
  gap: 33%;
}
.col {
  display: flex;
  flex-direction: column;
}
